{% extends 'base.html.twig' %}

{% block title %}Mi pedido - empresa{% endblock %}

{% block body %}
    <h2>Confirmación de su pedido</h2>
    <p>
        Hola {{order.user.firstname}} {{order.user.lastname}}, <br>
        Gracias por su pedido n° <b>{{order.reference}}</b>.<br>
        Se le acaba de enviar una confirmación por correo electrónico. <br>
    </p>
    <hr>
    <p>
        Su pedido será entregado por {{order.carrierName}} en la siguiente dirección: <br>
        {{order.delivery|raw}}
    </p>
    <hr>
    <p>
        Para seguir su pedido, vaya a su <a href="{{ path('account_orders') }}">cuenta</a>.
    </p>
{% endblock %}