{% extends 'base.html.twig' %}

{% block title %}Mi pedido - empresa{% endblock %}

{% block body %}
    <h2>Confirmación de su pedido</h2>
    <p>
        Hola <b>{{order.user.firstname}}</b>, Gracias por su pedido n° <b>{{order.reference}}</b>. Se le acaba de enviar una confirmación por correo electrónico.
    </p>
    <hr>
    <p>
        Su pedido será entregado por {{order.carrierName}} en la siguiente dirección: <br>
        {{order.delivery|raw}}
    </p>
    <hr>
    <p>
        Para seguir su pedido, vaya a su <a href="{{ path('account_orders') }}">cuenta</a>.
    </p>
{% endblock %}